{{!-- <h1>{{courses}}</h1> --}}

<div class="row mt-3">
  {{#each courses}}
    <div class="col-sm-6 col-lg-4">
      <div class="card" style="width: 18rem;">
        <a href="/courses/{{this.slug}}">
          <img class="card-img-top" src="{{this.image}}" alt="Card image cap" />
        </a>

        <div class="card-body">
          <a href="/courses/{{this.slug}}">
            <h5 class="card-title">{{this.name}}</h5>
          </a>
          <p class="card-text">{{this.name}}</p>
          <a href="#" class="btn btn-primary">Dat Mua</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>